@page "/"
@inject IVersionProvider VersionProvider;
@inject IJSRuntime JSRuntime;

<Tabs ElementId="tabList" RenderMode="TabsRenderMode.LazyLoad" SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" data-tabname="@selectedTab" >
    <Items>
        <Tab Name="Oscillator">Oscillator/Waveform</Tab>
        <Tab Name="Bargraph">BarGraph frequency visualiser</Tab>
        <Tab Name="General">General</Tab>
    </Items>
    <Content>
        <TabPanel Name="Oscillator">
            <canvas width="1400" height="150">Oscillator</canvas>
        </TabPanel>
        <TabPanel Name="Bargraph">
            <Div><canvas width="1400" height="150">BarGraph</canvas></Div>
        </TabPanel>
        <TabPanel Name="General">
            <Div><canvas width="1400" height="150">General</canvas></Div>
        </TabPanel>
    </Content>
</Tabs>


<Auxig.Components.Audio_Controls.GeneralControls/>
<audio src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/858/outfoxing.mp3" crossorigin="anonymous" controls id="audioElement" />


@code {
    
    string selectedTab = "Bargraph";
    public async Task StartAudioService()
    {
        await JSRuntime.InvokeVoidAsync("interopFunctions.InitializeApi");
        //await JSRuntime.InvokeVoidAsync("interopFunctions.PanControl");
    }

    private void OnSelectedTabChanged(string name) {
        selectedTab = name;
    }
}
