@inherits Pages.Dashboard;

<Div>
    <DisplayHeading Size="DisplayHeadingSize.Is3">General Controls</DisplayHeading>
    
<Paragraph>
    <Button ElementId="powerButton" @onclick="StartAudioService">Power On/Off </Button>
    <Button ElementId="playButton">Play</Button> <Button ElementId="pauseButton">Pause</Button>
    <Field> <FileEdit id="audioPicker" /> </Field>
</Paragraph>

<Paragraph>Volume : @volumeValue </Paragraph>
<Field>
    <Slider ElementId="volumeControl" @bind-Value="@volumeValue" Max="1" Min="-0.5" Step="0.01" />
</Field>

<Paragraph>Panner : @pannerValue </Paragraph>
<Field>
    <Slider ElementId="pannerControl" @bind-Value="@pannerValue" Max="1" Min="-1" Step="0.01" />
</Field>
<Switch TValue="bool" ElementId="filterSwitch" @bind-Checked="@filterOn" data-filteron="false">Filter</Switch>

</Div>
@code {
    double volumeValue = .5;
    double pannerValue = 0;
    bool filterOn = false;
}